:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #ff0000;
    --color-01: #7e7474;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 330px;
    background-color: var(--color-black);
}

.brand {
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.brand a img {
    width: 200px;
    height: auto;
    padding: 13px 20px;
}

.nav {
    width: 100%;
    height: 224px;
}

.nav .nav-list {
     display: block;
    margin: 1px;
}
   
    
.nav .nav-list .nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-red);

}

.nav .nav-list .nav-item:hover {
    background-color: var(--color-01);
    opacity: 0.5;
}


.nav .nav-list:last-child .nav-item {
    border: none;
}

.active {
    background-color: var(--color-01);
}


@media (min-width: 748px) {
    .navbar {
        height: 80px;
    }
    .brand {
        width: 20%;
        height: 100%;
        float: left;
    }
    .brand a img {
        width: 160px;
    }
    .nav {
        width: 80%;
        height: 100%;
        float: right;
    }
    .nav .nav-list {
        display: inline-block;
    }
    .nav .nav-list .nav-item {
        width: 120px;
        border-bottom: none;
        padding: 30px 20px;
        text-align: center;
    }
}
