* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

section {
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
     position: absolute;
     left: 0px;
     top: 0px;
}

.box1 {
    left: 0;
    top: 0;
}

.box2 {
    left: 25px;
    top: 25px;
    background-color: cyan;
}

.box3 {
    left: 50px;
    top: 50px;
    background-color: navy;
}

.box4 {
    left: 75px;
    top: 75px;
    background-color: pink;
}

.box5 {
    left: 100px;
    top: 100px;
    background-color: olive;
}

.box6 {
    left: auto;
    right: 100px;
    top: 75px;
    background-color: beige;
}

.box7 {
     left: auto;
    right: 75px;
    top: 50px;
    background-color: gray;
}

.box8 {
     left: auto;
    right: 50px;
    top: 25px;
    background-color: rgb(44, 42, 165);
}

.box9 {
    left: auto;
    right: 25px;
    top: 0px;
    background-color: yellow;
}

