nav {
    width: 100%;
    height: 50px;
    background-color: red;
    
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

section {
    margin-top: 50px;
}

.box1 {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.box2 {
    display: none;
    width: 200px;
    height: 300px;
    background-color: blue;
    position: absolute;
    bottom: 50px;
    right: inherit;
}

.box1:hover .box2 {
    display: block;
}